<div id='autor'>
  <div style="display: inline-block; width:'33%'; float: left; text-align:top;">
    <p> Nombre: Walter White</p>
    <p> AKA: Heisenberg
    <p> Profesión: Profesor de química, limpiador de coches, cocinero</p>
  </div>
  <div style="display: inline-block; width:'33%'; float: right;">
    <img src="/images/walterwhite.jpg" alt="Walter White" height="60" >
  </div>
  <div style="display: inline-block; width:'33%'; float: right;">
    <div id="video">
        <iframe width="150" src="https://www.youtube.com/embed/h4hWjjAByAE" frameborder="1" allowfullscreen>
    	</iframe>
    </div>
  </div>
</div>
