<div id='search'>
  <form method="get" action="/quizes">
    Introduce el texto para filtrar preguntas: <p>
    <input type="text" name="search" placeholder="Filtro"/>
    <input type="submit" value="Buscar">
  </form>
</div>
